
<div class="container ">
    <div class="inline">
    <%= render "shared/search_bar", path: spots_path %>

    </div>
  </div>

<div class="mx-5 d-flex mt-3">

  <div class = "col-5">
    <%= render "shared/vertical_scrollbar", array: @spots, vh: "vh-100" %>


  </div>

  <div
    id="map-spot" class="col-7 map-spot"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
  </div>



</div>
