<div class="container">
 <%= render 'shared/search_bar', path: catches_path %>
  <div class="grid-container">
    <% @catches.each do |catch| %>
      <%=   render "shared/small_catch_card", catch: catch %>
    <% end %>
  </div>
  <div class="container d-flex justify-content-center">
    <%= paginate @catches %>
  </div>
</div>
