<div class="mb-3">
  <div class="horizontal-scroll">
    <div class="list">
      <% array.each do |element| %>
        <div class="card-trip inline">
          <% unless element.is_a? Spot   %>
            <%= cl_image_tag element.image.key, class: "ml-0" %>
          <% else %>
            <!-- aqui va el mapa-->
          <% end %>
          <div class="card-trip-infos ">
            <div class="text-center">
              <% unless element.is_a? Post %>
                <h2><%= element.name %></h2>
                <p><%= element.description %></p>
              <% else %>

              <% end %>
            </div>
          </div>

        </div>
      <% end %>
    </ul>
  </div>
</div>
