<div class="mb-3">
  <div class="horizontal-scroll">
    <div class="list">
      <% array.each do |element| %>
        <%= render "shared/spots_card", spot: element %>
      <% end %>
    </ul>
  </div>
</div>
