<div class="container">
  <div class="card my-5">
    <div class="card-header">
      Error 404 Page not found
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>A veces error es mejor que un acierto</p>
        <footer class="blockquote-footer">CEO of Fishup <cite title="Source Title">Cesar Madera</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
