


.carrousel {
  width: 90%;
  max-width: 120em;
  height: fit-content;
  padding: 2em;
  overflow-x:  hidden;
  background-color: #e5e5e554;
}

.grande {
  width: 250%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  box-shadow: 2px 2px 3px rgba(180, 180, 180, 0.753);
  padding: 2em;

   transition: all .5s ease;
   transform: translate(0%) ;
}
.carrousel img {
  width: calc(100%/ 2 - 2em);
  margin-top: 10px;
  height: 210px ;
  width:80%;
}

.carrousel .puntos {
  width: 100%;
  padding: 0em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}
.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  background-color: rgb(221, 221, 221);
  border-radius: 180px;
}

.carrousel .punto.activo{
    background-color: rgb(80, 155, 180);
    border-radius: 180px;
}

.post {
  background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 3px #8f8b8b;
    border-radius: 5px;
    margin: 10px;
    width: 440px;
        height: 390px;
    h5 {
      font-size:28px;
      margin: 10px;
    }
    p{
      font-size: 11px;
    }
}
