.navbar-lewagon {
  justify-content: space-between;
  background: rgba(15, 66, 0113, 0.78);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-medium {
  display: initial;

  a {
  color: rgba(0, 0, 0, 0.5);
  }
}
