.card-spot {
  background-color: white;
  box-shadow: 2px 2px 3px #cdcdcd;
  border-radius: 5px;
  height: 200px;
  width: 660px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.card-spot-name {
  color: black;
  font-weight: bold;
  font-size: large;
}



.bottom-card-spot {
    background-color: #FCAF3F;
    color: white;
    padding: 5px;
    border-radius: 10px;
}


.filtros {
    display: flex;
    justify-content: space-evenly;
}
